layout {

    focus-ring {
        active-color   "#bd93f9"
        inactive-color "#282A36"
        urgent-color   "#FF5555"
    }

    border {
        active-color   "#bd93f9"
        inactive-color "#282A36"
        urgent-color   "#FF5555"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bd93f9"
        inactive-color "#3f0099"
        urgent-color   "#FF5555"
    }

    insert-hint {
        color "#bd93f980"
    }
}
